.tasks {
    &__title {
      font-family: Montserrat;
      color: #64C4ED;
      font-size: 32px;
      font-weight: bold;
      padding-bottom: 20px;
      border-bottom: 1px solid #f2f2f2;
    }
  }